# Ignore all .bak files
*.bak

# Ignore simulation folder in quartus_project
quartus_project/simulation/

# Ignore output_files folder in quartusproject
quartusproject/output_files/

quartusproject/greybox_tmp/
quartusproject/incremental_dp/